.country {
  border: 2px solid rgb(187, 161, 114);
  padding: 15px;
  box-shadow: 10px 10px 15px rgb(133, 142, 143);
  margin: 15px;
  border-radius: 10px;
}
.country > img {
  width: 100%;
  box-shadow: 10px 10px 15px rgb(133, 142, 143);
  max-height: 150px;
}
